# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


# ===========================================================
# ============== HTML SNIPPETS ==============================
# ===========================================================

'.text.html.basic':
  'DA Boilerplate HTML':
    'prefix': 'da HTML'
    'body': """<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${1:title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="${2:main}.css">
  </head>
  <body>
    <!-- page content -->
    <script src="${3:main}.js"></script>
  </body>
</html>
"""

# ===========================================================
# =============== CSS SNIPPETS ==============================
# ===========================================================

'.source.css':
  'DA Image ID':
    'prefix': 'da Image ID'
    'body': """# $1 {
      position: absolute;
      top: $2 px;
      left: $3 px;
      width: $4 px;
      height: $5 px;
      background-image:$6
      display: block;
    }
    """

# ===========================================================
# ============== JAVASCRIPT SNIPPETS ========================
# ===========================================================
'.source.js':

  # [F] onReady code
  'DA OnReady':
    'prefix': 'da OnReady'
    'body': """function onReady ($2)
    {
      console.log();
    }
    """
  # [F] Dan
  'DA Dan':
    'prefix': 'da Dan'
    'body': """function dan(){
      console.log();
    }"""

  # [F] Dan
  'DA Dave':
    'prefix': 'da Dave'
    'body': """function dave(){
      console.log();
    }"""
