


# ===========================================================
# ============== HTML SNIPPETS ==============================
# ===========================================================

'.text.html.basic':
  'DA Boilerplate HTML':
    'prefix': 'da HTML'
    'body': """<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RGA SNIPPETS TEST</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="${2:main}.css">
  </head>
  <body>
    <!-- page content -->
    <script src="${3:main}.js"></script>
  </body>
</html>
"""
